<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028145974134-9096jaqeggsu68i97roim405m9v8rnsn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028145974134-9096jaqeggsu68i97roim405m9v8rnsn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1028145974134-1u0pk14u1v20ctdoeua7pl3u1ac6ihbv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBTcLVbQsQ1BX77wizZ8wU5GtJrv0DnD2E</string>
	<key>GCM_SENDER_ID</key>
	<string>1028145974134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bnb.client</string>
	<key>PROJECT_ID</key>
	<string>bowandbeautiful-3372d</string>
	<key>STORAGE_BUCKET</key>
	<string>bowandbeautiful-3372d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028145974134:ios:23586fbce2c89432760857</string>
</dict>
</plist>